*~
*.o
*.a
*.or
*.d
*.stackdump
qesto
qesto.exe
DataStructures.aux
DataStructures.fdb_latexmk
DataStructures.fls
DataStructures.log
DataStructures.out
DataStructures.pdf
LevelInfo.aux
LevelInfo.fdb_latexmk
LevelInfo.fls
LevelInfo.log
LevelInfo.out
LevelInfo.pdf
Qesto.aux
Qesto.fdb_latexmk
Qesto.fls
Qesto.log
Qesto.out
Qesto.pdf
Groups.aux
Groups.fdb_latexmk
Groups.fls
Groups.log
Groups.out
Groups.pdf
QestoGroups.aux
QestoGroups.fdb_latexmk
QestoGroups.fls
QestoGroups.log
QestoGroups.out
QestoGroups.pdf
GroupInversion.aux
GroupInversion.fdb_latexmk
GroupInversion.fls
GroupInversion.log
GroupInversion.out
GroupInversion.pdf
*.gcda
*.gcno
*.gcov
bug*
examples
generated
tags
